table tr td{
	border: 1px solid black; /* borda da tabela */
}

table{
	background-color: #F8F8FF;
	width: 80%; /* largura da tabela */
	margin: auto; /* alinhamento centralizado da tabela */
}

button{
	color: black; /* cor da fonte */
	background-color: #F8F8FF;
	font-size: 12px;
	/*border-radius: 20px 50px 5px 90px; /* arredonda os cantos */
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 60px;
	margin-right: 60px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

h1{
	color: #B22222;
	font-size: 50px;
	font-family: "Playfair Display", serif;
}
p{
	font-size: 25px;
	color: black;
	font-family: "Playfair Display", serif;
	text-align: justifily;
	padding-left: 10px;
	padding-right: 10px;
}
